* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  color: #1A3B57;
  font-family: sans-serif;
}

.navbar {
  height: 90px;
  background-color: white;
}

.navbar::after {
  content: '';
  display: table;
  clear: both;
}

.navbar .logo {
  width: 20%;
  float: left;
  line-height: 90px;
}

.navbar .logo img {
  width: 80%;
  vertical-align: middle;
}

.navbar .nav-menu {
  width: 80%;
  float: right;
  list-style: none;
  text-align: right;
}

.navbar .nav-menu li {
  display: inline-block;
  margin: 0 20px;
  line-height: 100px;
}

.navbar .nav-menu li a {
  color: #1B3C59;
  text-decoration: none;
}

.navbar .nav-menu li a.active {
  border-bottom: 2px solid #61CE4E;
}

.navbar .nav-menu li .btn {
  background-color: #61CE4E;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  vertical-align: middle;
}

.navbar .nav-menu li .btn:hover {
  opacity: .8;
}

.footer-nav {
  background: #1B3C59;
  color: white;
  font-weight: bold;
  padding: 60px 120px;
}

.footer-nav::after {
  content: '';
  display: table;
  clear: both;
}

.footer-nav .footer-logo {
  width: 15%;
  float: left;
}

.footer-nav .footer-logo img {
  width: 100%;
}

.footer-nav .footer-menu {
  float: right;
  text-align: right;
  list-style: none;
}

.footer-nav .footer-menu li {
  line-height: 28px;
}

.footer-nav .footer-menu li a {
  color: white;
  text-decoration: none;
}

main {
  background-color: #E8EBF1;
}

main .students {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

main .students .student {
  width: calc(100% / 2 - 20px);
  margin: 20px 10px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 7px 14px 0 #b0b0b0;
  color: #1B3C59;
}

main .students .student .info {
  display: inline-flex;
}

main .students .student .info .image {
  width: 20%;
}

main .students .student .info .image img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

main .students .student .info .text {
  width: 70%;
  margin-left: 20px;
}

main .students .student .info .text h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

main .students .student .info .text h4 {
  font-size: 20px;
  font-weight: normal;
}

