@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #1A3B57;
}

.footer-nav {
  background: #1A3B57;
  color: white;
  font-weight: bold;
  padding: 60px 120px;
}

.footer-nav::after {
  display: table;
  content: "";
  clear: both;
}

.footer-nav .footer-logo {
  float: left;
  width: 20%;
}

.footer-nav .footer-logo img {
  width: 100%;
}

.footer-nav .footer-menu {
  float: right;
  text-align: right;
  list-style: none;
}

.footer-nav .footer-menu li {
  line-height: 28px;
}

.footer-nav .footer-menu li a {
  color: white;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: white;
}

.navbar::after {
  display: table;
  content: "";
  clear: both;
}

.navbar .logo {
  float: left;
  width: 20%;
  line-height: 90px;
}

.navbar .logo img {
  width: 80%;
  vertical-align: middle;
}

.navbar .nav-menu {
  float: right;
  width: 80%;
  list-style: none;
  text-align: right;
}

.navbar .nav-menu li {
  display: inline-block;
  margin: 0 20px;
  line-height: 90px;
}

.navbar .nav-menu li a {
  color: #1A3B57;
  text-decoration: none;
}

.navbar .nav-menu li a.active {
  border-bottom: 2px solid #61CE4E;
}

.navbar .nav-menu li .btn {
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
  vertical-align: middle;
  background-color: #61CE4E;
}

.navbar .nav-menu li .btn:hover {
  opacity: .8;
}

.jumbo {
  padding: 90px 0;
  width: 85%;
  margin: auto;
}

.jumbo:after {
  display: table;
  content: "";
  clear: both;
}

.jumbo-text {
  margin-top: 80px;
  float: left;
  width: 50%;
}

.jumbo-text h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.jumbo-text ul {
  margin-left: 20px;
  line-height: 30px;
}

.jumbo-image {
  margin-top: 80px;
  float: right;
  width: 40%;
}

.jumbo-image img {
  width: 100%;
}

.faq-header {
  padding: 90px 0;
  width: 85%;
  margin: auto;
}

.faq-header h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.filter {
  margin: 100px 60px 40px;
  padding: 5px 15px;
}

.container-students {
  padding-top: 100px;
  background-color: #E8EBF1;
}

.container-students h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}

.container-students .students {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container-students .students .student {
  width: calc(100% / 2 - 20px);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 7px 14px 0 #b0b0b0;
  color: #1B3C59;
}

.container-students .students .student .info {
  display: inline-flex;
}

.container-students .students .student .info .image {
  width: 20%;
}

.container-students .students .student .info .image img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container-students .students .student .info .text {
  width: 70%;
  margin-left: 20px;
}

.container-students .students .student .info .text h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.container-students .students .student .info .text h4 {
  font-size: 22px;
  font-weight: normal;
}

.privacy {
  padding: 90px 0;
  width: 85%;
  margin: auto;
  font-size: 16px;
}

.privacy h2 {
  margin-bottom: 40px;
  padding-top: 20px;
}

.privacy h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.faq-main:after {
  display: table;
  content: "";
  clear: both;
}

.faq-main h3 {
  font-size: 36px;
  margin-bottom: 40px;
}

.faq-main ul {
  list-style: none;
  line-height: 60px;
}

.faq-main .prima {
  float: left;
  width: 50%;
  padding: 60px 80px;
  background-color: #E8EBF1;
}

.faq-main .dopo {
  float: right;
  width: 50%;
  padding: 60px 80px;
  background-color: #1A3B57;
  color: white;
}

