.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $heightHeader;
  background-color: white;
  &::after {
    @include clearFix;
  }
  .logo {
    @include floatLeft;
    width: 20%;
    line-height: $heightHeader;
    img {
    width: 80%;
    vertical-align: middle;
    }
  }
  .nav-menu {
    @include floatRight;
    width: 80%;
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      margin: 0 20px;
      line-height: $heightHeader;
      a {
        color: $fontColor;
        text-decoration: none;
        &.active {
          border-bottom: 2px solid $fontColorGreen;
        }
      }
      .btn {
        @include btn;
        background-color: $fontColorGreen;
    }
    }
  }
}
.jumbo {
  padding: 90px 0;
  width: $innerWidth;
  margin: auto;
  &:after {
    @include clearFix;
  }
  &-text {
    margin-top: 80px;
    @include floatLeft;
    width: 50%;
    h3 {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    ul {
      margin-left: 20px;
      line-height: 30px;
    }
  }
  &-image {
    margin-top: 80px;
    @include floatRight;
    width: 40%;
    img {
      width: 100%;
    }
  }
}
