// colors
$fontColor: #1A3B57;
$fontColorGreen: #61CE4E;
$backgroundDark: #1A3B57;
$backgroundLight: #E8EBF1;

//Typo
$fontFamily: 'Roboto', sans-serif;
$fontSize: 20px;
$fontSizeH1: 50px;
$fontSizeH2: 38px;
$fontSizeH3: 24px;
$fontSizeH4: 22px;

//size
$innerWidth: 85%;
$heightHeader: 90px;
